@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

.container{
  width: 100%;
  height: auto;
}

body {
  padding-top: 40px;
  position: relative;
}
#section1 {
  width: 100%;
  height: auto;
}
#section11 {
  padding-top: 10px;
  height: 500px;
  color: #00e600;
  background-color: #fff;
}
#section12 {
  padding-top: 10px;
  height: 500px;
  color: #673ab7;
  background-color: #fff;
}
#section2{
  padding-top: 10px;
  height: 500px;
  color: #ff0000;
  background-color: #fff;
  }
#section3 {
  padding-top: 10px;
  height: 500px;
  color: #ff9900;
  background-color: #fff;
}

td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #30a5ff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users category index */

.categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Login */
.modal-header, h4, .close {
  padding:35px 50px;
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-body{
  padding:40px 50px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal-backdrop {
  display:none;
}

/* Carousel */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }
.order_index {
  padding-top: 5px;
}
.left_bar {
  padding-top :30px;
}
td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #4CAF50;
  color: white;
}
/* Product show */
.td-product-show img{
  margin: 0 auto;
  width: 80%;
  height: 450px;
}
.td-product-comment{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  background-color: #FFFFFF;
  height: 100%;
}
.td-product-comment #comment_content{
  margin-left: -10px !important;
  margin-top: 20px;
}
.products{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0 !important;
}
.jumbotron{
  margin-bottom: 0px !important;
}
.td-background .image-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.td-login{
  padding-bottom: 150px;
  padding-top: 50px;
}
.td-profile{
  padding-top: 50px;
  padding-bottom: 100px;
  .td-img-profile{
    float: right;
    img{
      width: 100px;
      height: 100px;
      display: inline-block;
    }
  }
  span{
    font-size: 30px;
    font-weight: bold;
    padding-left: 50px;
  }
  .profile-left{
    p{
      float: right;
      font-weight: bold;
    }
    .first-child {
      margin-top: 15px;
    }
  }
  .profile-right{
    .first-child {
      margin-top: 30px;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 43px;
    }
  }
}
.td-product-show{
  background-color: rgba(0, 0, 0, 0.8);
}
.td-prod-li{
  margin-bottom: 60px;
  .input-group-btn{
    position: absolute;
    width: 200px;
    bottom: 30%;
    left: calc(50% - 100px);
    z-index: 99;
    display: none;
  }
  .name{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .line{
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: #675f5f;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .image-show > a > img{
    width: 100%;
    height: 100%;
  }
}
.td-product-show{
  .input-group-btn{
    position: absolute;
    width: 200px;
    bottom: 30%;
    left: calc(50% - 100px);
    z-index: 99;
    display: none;
  }
}
.td-product-show:hover .input-group-btn{
  display: block !important;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-product-show:hover img{
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover .input-group-btn{
  display: block !important;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover img{
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-prod-li:hover .line{
  width: 100%;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.td-cate-show{
  border-right: 1px solid #D9D9D9;
}
.categories{
  padding-left: 0 !important;
  li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
    a{
      color: #737373;
      font-size: 20px;
      font-style: italic;
      width: 100%;
      display: block;
      padding-left: 30px;
    }
    a:hover{
      text-decoration: none;
    }
    p{
      margin-bottom: 0px;
    }
  }
  li:hover{
    background-color: #D9D9D9;
    a{
      color: #FFFFFF;
    }
  }
}
.td-filter-drop{
  height: 55px;
  .btn{
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 20px;
    min-width: 160px;
    height: 35px;
  }
  .dropdown-menu{
    right: 0 !important;
    top: 55px !important;
    left: auto !important;
  }
  span{
    position: absolute;
    top: 30px;
    right: 180px;
  }
}
.suggestion_form{
  padding-top: 30px;
  p{
    margin-bottom: 35px;
  }
}
#follow_form{
  width: 50%;
  margin: 0 auto;
}
.td-user-img{
  display: table-cell !important;
}
.td-admin-user{
  padding-top: 50px;
  padding-bottom: 50px;
  .td-user-table{
    tbody tr th.first{
      width: 80px;
    }
  }
  table tbody tr:nth-child(2n){
    background-color: #D9D9D9;
  }
}
.user-title{
  margin-bottom: 30px;
}
.suggestion-box{
  width: 400px;
  height: 250px;
  background-color: #99a7bb;
  position: fixed;
  top: 100px;
  left: -400px;
  transition-duration: 0.5s;
  z-index: 999;
}
.box{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: -40px;
  background-color: #99a7bb;
  cursor: pointer;
  border-radius: 5px;
  b{
    margin-top: 10px;
    margin-left: 13px;
  }
  b:before{
    font-size: 30px;
    color: #FFFFFF;
  }
}
.filout{
  left: 0;
}
.suggestion{
  min-height: 340px;
}
.td-cate{
  .image-show{
    width: 100%;
    height: 280px;
  }
}
.td-index-prod{
  .image-show{
    width: 100%;
    height: 380px;
  }
}
.td-rate{
  width: 50px;
  height: 50px;
  display: inline-block;
  form{
    width: 100%;
    height: 100%;
  }
}
#rate-1{
  margin-left: 50px;
}
.star{
  width: 100%;
  height: 100%;
  .rate-button{
    position: absolute;
    background-color: transparent !important;
    border: none;
    z-index: 9999;
    width: 100%;
    height: 100% !important;
  }
}
.star::before{
  position: absolute;
  font-size: 40px;
  left: 6px;
  z-index: 1;
}
.color-hover{
  color: yellow;
}
.td-order-button{
  border-radius: 5px;
  display: inline-block;
}
.show-order{
  min-height: 330px;
  table th:last-child{
    width: 200px;
  }
}
.td-rela{
  min-height: 350px;
}
.td-sug-title{
  font-size: 20px;
  font-weight: bold;
}
.glyphicon-shopping-cart{
  color: #b0b2bd;
  font-size: 25px;
  width: 100%;
  a{
    font-size: 20px;
    width: 100%;
    float: right;
    z-index: 999;
    position: relative;
    color: #777777;
    height: 100%;
  }
  a:hover{
    text-decoration: none;
    color: #FFFFFF;
  }
}
.glyphicon-shopping-cart:hover{
  color: #FFFFFF;
}
.glyphicon-shopping-cart:before{
  position: absolute;
  left: 0;
}
.td-cart-icon{
  width: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.td-admin-order-index{
  min-height: 350px;
}
.td-paginate{
  width: 300px;
  margin: 0 auto;
}
.hvr-overline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 3px;
  background: #FFFFFF;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}
