<% provide :title, t(".product") %>
<div class="">
  <%= render "shared/filter_form" %>
  <ul class="products col-md-offset-1 td-index-prod", id="current-product">
    <%= render @products %>
    <div class="clearfix"></div>
  </ul>
</div>
<div class="clearfix"></div>
