<% provide :title, t(".product") %>
<h2><%= t "product" %></h2>
<div class="container">
  <div class="card">
    <div class="col-lg-9">
      <% @products.each do |product| %>
        <div class="col-md-3">
          <%= default_image product %>
          <h5><%= link_to product.name, product_path(product) %> </h5>
          <%= product.price %>
        </div>
      <% end %>
    </div>
  </div>
</div>
